.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading-body {
    width: 100%;
    height: 100%;
    scale: 1.5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
}
  
.loading-bar {
    width: 4px;
    height: 18px;
    margin: 0 8px;
    border-radius: 4px;
    transform-box: fill-box;
    animation: loading 1s ease-in-out infinite, fade 3s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
    animation-delay: 0.1s;
}
.loading-bar:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-bar:nth-child(3) {
    animation-delay: 0.3s;
}
.loading-bar:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes loading {
0% {
    height: 18px;
}
20% {
    height: 54px;
}
40% {
    height: 18px;
}
}

@keyframes fade {
    0% {
      background-color: #129ad7;
    }
    50% {
      background-color: #e40f7e;
    }
    100% {
      background-color: #129ad7;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.wrapper h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.start-content h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
body {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    accent-color: #129ad7;
    font-size: large;
}

.wrapper, .start-content {
    display: flex;
    flex-direction: column;
    margin: 20px 70px;
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logo {
    margin-bottom: 25px;
    width: 375px;
    height: auto;
}

.title {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: medium;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}

.subtitle {
    font-family: futura-pt,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
}
 
/* Track */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
}

::-webkit-scrollbar-thumb:active {
  background-color: #b5b5b5;
}

/* Navigation */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 0 20px;

    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 808px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.hint {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.text {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

@media (max-width: 808px) {
    .wrapper, .start-content {
        margin: 0 10px;
    }
    
    .navigation {
        max-width: 100%;
    }
}

.square {
    display: inline-block;
    border: 2px solid #d8d8d8;
    padding: 5px;
    vertical-align: middle;
    margin-right: 10px;
}